/*
Aplicar estilos a una etiqueta en especifico
nombre_de_etiqueta{
	propiedad1: valor;
	propiedad2: valor;
	...
	...
	propiedadN: valor;
}
EJEMPLO
*/

p{
	color: #4369B0;
}
div{
	background-color: #363863;
	width: 50%;
	height: 100px;
}
body{
	background: #59AFE2;
}
table{
	background-color: 888888;
	width: 25%;
	height: 30px;
}
tr{
	background-color: #322323;
	color: #444444;
	background: #59AFE2;
}
/*
identificador ID, sirve para establecer ESTILO(s)
a UNA determinada etiqueta
#nombre_identificador{
	prop1: valor;
	prop2: valor;
	...
	propN; valor;
}
*/

#div-imagen{
	background-color: #4CAF50;
	width: 80%;
}